<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767162111839-tdbpg9as91u6jq91heg08q2rsfk7tobv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767162111839-tdbpg9as91u6jq91heg08q2rsfk7tobv</string>
	<key>API_KEY</key>
	<string>AIzaSyAzda5U98uJNrNZxDQJk2RA6kHQGptY7OE</string>
	<key>GCM_SENDER_ID</key>
	<string>767162111839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bmp.tasktak</string>
	<key>PROJECT_ID</key>
	<string>tasktak-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tasktak-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767162111839:ios:d9420663797cecf0c108ea</string>
</dict>
</plist>